<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Master Sheff</title>
  <link href="../css/main.css" rel="stylesheet">
</head>

<body class="page">
  <main class="page-404">
    <div class="page-404__content">
      <div class="page-404__text">
        Страница не найдена
      </div>
      <a class="page-404__link button button_type_dark" href="/">На главную</a>
    </div>
  </main>
  <script src="../bundle.js"></script>
</body>

</html>