<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Master Sheff</title>
  <link href="../css/main.css" rel="stylesheet">
</head>

<body class="page">
  <header class="header">
    <div class="header__top" data-uk-sticky>
      <div class="uk-container">
        <div class="header__top-inner">
          <div class="header__leftside uk-width-1-5">
            <a class="logo" href="#">
              <img src="../img/logo.svg" alt="logo">
            </a>
          </div>
          <div class="header__rightside uk-width-4-5">
            <nav class="nav">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="#">Наши клиенты</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Производители</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </nav>
            <div class="js-mobile-cart-site"></div>
            <div class="header__contacts">
              <a class="header__header-tel header-tel" href="tel:79204228167">
                <svg class="header-tel__icon" viewBox="0 0 35 35">
                  <path
                    d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604 c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287 c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818 c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625 H8.979V3.749h17.042V30.625z">
                  </path>
                </svg>
                <span class="header-tel__number">+7 (920) 422-81-67</span>
              </a>
              <button class="header__callback-btn" type="button" data-uk-toggle="target: #callback">Заказать
                звонок</button>
            </div>
            <button class="header-menu-btn js-menu-btn" type="button">
              <span class="header-menu-btn__line header-menu-btn__line_first"></span>
              <span class="header-menu-btn__line header-menu-btn__line_second"></span>
              <span class="header-menu-btn__line header-menu-btn__line_third"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="control-bar">
      <div class="uk-container">
        <div class="control-bar__inner">
          <div class="control-bar__leftside">
            <!-- <button class="control-bar__catalog-btn catalog-btn js-catalog-btn" type="button">
                  <svg class="catalog-btn__icon">
                    <use xlink:href="#catalog" />
                  </svg>
                  Каталог
                </button> -->
            <ul class="catalog-short-menu">
              <li><a href="#">Стекло</a></li>
              <li><a href="#">Столовая посуда</a></li>
              <li><a href="#">Сиропы топпинги</a></li>
              <li><a href="#">Столовые приборы</a></li>
              <li><a href="#">Новинки</a></li>
            </ul>
          </div>
          <div class="control-bar__rightside">

            <form class="control-bar__search-form search-form">
              <input class="search-form__input uk-input" type="search" name="search" placeholder="Поиск" required>
              <button class="search-form__submit" type="submit" aria-label="Искать">
                <svg class="search-form__icon" viewBox="0 0 52.966 52.966">
                  <path
                    d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21 c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279 C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19 S32.459,40,21.983,40z">
                  </path>
                </svg>
              </button>
            </form>


            <button class="control-bar__search-btn search-btn js-search-btn" type="button">
              <svg class="search-btn__icon" viewBox="0 0 52.966 52.966">
                <path
                  d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21 c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279 C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19 S32.459,40,21.983,40z">
                </path>
              </svg>
            </button>
            <a class="cart-btn js_show_cart" href="#">
              <svg class="cart-btn__icon" viewBox="0 0 512 512">
                <path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c0-4.267-6.4-8.533-10.667-8.533h-64
                          C4.267,21.333,0,25.6,0,32c0,6.4,4.267,10.667,10.667,10.667h55.467l51.2,260.267c6.4,34.133,38.4,59.733,72.533,59.733H435.2
                          c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2
                          c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z M450.133,256l-311.467,40.533l-38.4-192H486.4
                          L450.133,256z"></path>
                <path d="M181.333,384C151.467,384,128,407.467,128,437.333c0,29.867,23.467,53.333,53.333,53.333
                          c29.867,0,53.333-23.467,53.333-53.333C234.667,407.467,211.2,384,181.333,384z M181.333,469.333c-17.067,0-32-14.934-32-32
                          s14.933-32,32-32c17.067,0,32,14.934,32,32S198.4,469.333,181.333,469.333z"></path>
                <path d="M394.667,384c-29.867,0-53.333,23.467-53.333,53.333c0,29.867,23.467,53.333,53.333,53.333
                          c29.867,0,53.333-23.467,53.333-53.333C448,407.467,424.533,384,394.667,384z M394.667,469.333c-17.067,0-32-14.934-32-32
                          s14.933-32,32-32c17.067,0,32,14.934,32,32S411.733,469.333,394.667,469.333z"></path>
              </svg>
              <span class="cart-btn__text">
                <span>
                  Товаров: 7
                </span>
                <span>
                  Сумма: 5321 руб.
                </span>
              </span>
            </a>
          </div>
          <div class="search-bar js-search-bar">
            <form class="uk-width-1-1">
              <input class="search__input uk-input js-search-input" type="search" name="search" placeholder="Искать">
            </form>
            <button class="search-bar__close-btn js-search-close" type="button" data-uk-close></button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <div class="catalog-full" hidden>
    <ul>
      <li>
        <a class="catalog-full__heading catalog-full__heading_glass" href="#">Стекло</a>
        <ul>
          <li><a href="#">Стекло</a></li>
          <li><a href="#">Столовая посуда</a></li>
          <li><a href="#">Сиропы топпинги</a></li>
          <li><a href="#">Столовые приборы</a></li>
          <li><a href="#">Новинки</a></li>
        </ul>
      </li>
      <li>
        <a class="catalog-full__heading catalog-full__heading_dishes" href="#">Столовая посуда</a>
        <ul>
          <li><a href="#">Стекло</a></li>
          <li><a href="#">Столовая посуда</a></li>
          <li><a href="#">Сиропы топпинги</a></li>
          <li><a href="#">Столовые приборы</a></li>
          <li><a href="#">Новинки</a></li>
        </ul>
      </li>
      <li>
        <a class="catalog-full__heading catalog-full__heading_porcelain" href="#">Фарфор</a>
        <ul>
          <li><a href="#">Стекло</a></li>
          <li><a href="#">Столовая посуда</a></li>
          <li><a href="#">Сиропы топпинги</a></li>
          <li><a href="#">Столовые приборы</a></li>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Новинки</a></li>
        </ul>
      </li>
      <li>
        <a class="catalog-full__heading catalog-full__heading_japan" href="#">Японская еда</a>
        <ul>
          <li><a href="#">Стекло</a></li>
          <li><a href="#">Столовая посуда</a></li>
          <li><a href="#">Сиропы топпинги</a></li>
        </ul>
      </li>
      <li><a class="catalog-full__heading catalog-full__heading_new" href="#">Новинки</a></li>
    </ul>
    <button class="catalog-full__close-btn uk-close-large js-catalog-close" type="button" data-uk-close></button>
  </div> -->
  <main class="category inner-page">
    <div class="inner-page__heading"></div>
    <div class="uk-container">
      <div class="category__grid">
        <div class="categories-menu">
          <ul class="categories-menu__topmenu" data-uk-accordion>
            <li>
              <a class="categories-menu__picked-section uk-accordion-title" href="#">
                Барное и ресторанное стекло
              </a>
              <ul class="categories-menu__innermenu uk-accordion-content">
                <li>
                  <a href="#">Барные аксессуары</a>
                </li>
                <li>
                  <a href="#">Гастроемкости, противни, решетки
                  </a>
                </li>
                <li>
                  <a href="#">Доски разделочные, подставки для досок, подносы</a>
                </li>
                <li>
                  <a href="#">Кастрюли, сковородки, сотейники</a>
                </li>
              </ul>
            </li>
            <li class="categories-menu__topmenu">
              <a class="uk-accordion-title" href="#">
                Столовая посуда
              </a>
              <ul class="categories-menu__innermenu uk-accordion-content">
                <li>
                  <a href="#">Барные аксессуары</a>
                </li>
                <li>
                  <a href="#">Гастроемкости, противни, решетки
                  </a>
                </li>
                <li>
                  <a href="#">Доски разделочные, подставки для досок, подносы</a>
                </li>
                <li>
                  <a href="#">Кастрюли, сковородки, сотейники</a>
                </li>
              </ul>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Столовые приборы
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Предметы сервировки
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Барный инвентарь
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Сиропы, топпинги
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Кухонный инвентарь
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Ножи и аксессуары
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Кондитерский инвентарь
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Фарфор
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Инвентарь для пиццы
              </a>
            </li>
            <li class="categories-menu__topmenu">
              <a href="#">
                Японская кухня
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="inner-page__breadcrumb uk-breadcrumb">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><span>Барное и ресторанное стекло</span></li>
          </ul>
          <h1 class="category__page-title page-title">Барное и ресторанное стекло</h1>
          <aside class="banner">
            <div class="banner__dates">
              Только до 1 мая
            </div>
            <div class="banner__main">
              <div class="banner__title">
                Скидка 10%
              </div>
              <div class="banner__subtitle">
                при заказе от 10 000 <span class="rubl">a</span>
              </div>
            </div>
          </aside>
          <form class="category__filter-bar filter-bar">
            <div class="filter-bar__type js-filter-type">
              <div class="filter-bar__type-title">
                Производитель:
              </div>
              <div class="filter-bar__list js-filter-list">
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Франция)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Россия)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Россия)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Россия)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Россия)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Россия)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (ОАЭ)
                  </span>
                </label>
              </div>
              <button class="filter-bar__show-all js-filter-btn" type="button">
                Посмотреть все
                <span class="filter-bar__show-all-icon" data-uk-icon="chevron-down"></span>
              </button>
            </div>
            <div class="filter-bar__type js-filter-type">
              <div class="filter-bar__type-title">
                Производитель:
              </div>
              <div class="filter-bar__list js-filter-list">
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Arcoroc (Франция)
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    RCR (Италия
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Flare
                  </span>
                </label>
                <label class="filter-bar__checkbox checkbox">
                  <input class="checkbox__input" type="checkbox" name="brand">
                  <span class="checkbox__text">
                    Bar Mix
                  </span>
                </label>
              </div>
            </div>
            <button class="button button_type_dark" type="submit">Применить</button>
          </form>
          <div class="category__pool">
            <div class="product-item">
              <a class="product-item__image" href="product.html">
                <img src="../img/product-item.jpg" alt="">
                <div class="product-item__new">
                  NEW
                </div>
              </a>
              <div class="product-item__info">
                <div class="product-item__info-leftside">
                  <a class="product-item__title" href="product.html">Блюдо овальное «Desert Fusion», 40 см
                  </a>
                  <div class="product-item__vendor-code">Артикул: 81223063</div>
                  <div class="product-item__producer">Производитель: <a href="#">RAK (Арабские
                      Эмираты)</a></div>
                </div>
                <div class="product-item__info-rightside">
                  <div class="product-item__price">
                    428.80 ₽
                  </div>
                  <form class="product-item__product-calc">
                    <div class="product-item__counter counter">
                      <button class="counter__btn js-counter-minus" type="button">-</button>
                      <input class="counter__input js-counter-input" type="text" value="1">
                      <button class="counter__btn js-counter-plus" type="button">+</button>
                    </div>
                    <button class="product-btn product-btn_status_default" type="submit">
                      <span class="product-btn__text">В корзину</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="product-item">
              <a class="product-item__image" href="product.html">
                <img src="../img/product-item.jpg" alt="">
                <div class="product-item__new">
                  NEW
                </div>
              </a>
              <div class="product-item__info">
                <div class="product-item__info-leftside">
                  <a class="product-item__title" href="product.html">Блюдо овальное «Desert Fusion», 40 см
                  </a>
                  <div class="product-item__vendor-code">Артикул: 81223063</div>
                  <div class="product-item__producer">Производитель: <a href="#">RAK (Арабские
                      Эмираты)</a></div>
                </div>
                <div class="product-item__info-rightside">
                  <div class="product-item__price">
                    428.80 ₽
                  </div>
                  <form class="product-item__product-calc">
                    <div class="product-item__counter counter">
                      <button class="counter__btn js-counter-minus" type="button">-</button>
                      <input class="counter__input js-counter-input" type="text" value="1">
                      <button class="counter__btn js-counter-plus" type="button">+</button>
                    </div>
                    <button class="product-btn product-btn_status_default" type="submit">
                      <span class="product-btn__text">В корзину</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="product-item">
              <a class="product-item__image" href="product.html">
                <img src="../img/product-item.jpg" alt="">
                <div class="product-item__new">
                  NEW
                </div>
              </a>
              <div class="product-item__info">
                <div class="product-item__info-leftside">
                  <a class="product-item__title" href="product.html">Блюдо овальное «Desert Fusion», 40 см
                  </a>
                  <div class="product-item__vendor-code">Артикул: 81223063</div>
                  <div class="product-item__producer">Производитель: <a href="#">RAK (Арабские
                      Эмираты)</a></div>
                </div>
                <div class="product-item__info-rightside">
                  <div class="product-item__price">
                    428.80 ₽
                  </div>
                  <form class="product-item__product-calc">
                    <div class="product-item__counter counter">
                      <button class="counter__btn js-counter-minus" type="button">-</button>
                      <input class="counter__input js-counter-input" type="text" value="1">
                      <button class="counter__btn js-counter-plus" type="button">+</button>
                    </div>
                    <button class="product-btn product-btn_status_default" type="submit">
                      <span class="product-btn__text">В корзину</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="product-item">
              <a class="product-item__image" href="product.html">
                <img src="../img/product-item.jpg" alt="">
                <div class="product-item__new">
                  NEW
                </div>
              </a>
              <div class="product-item__info">
                <div class="product-item__info-leftside">
                  <a class="product-item__title" href="product.html">Блюдо овальное «Desert Fusion», 40 см
                  </a>
                  <div class="product-item__vendor-code">Артикул: 81223063</div>
                  <div class="product-item__producer">Производитель: <a href="#">RAK (Арабские
                      Эмираты)</a></div>
                </div>
                <div class="product-item__info-rightside">
                  <div class="product-item__price">
                    428.80 ₽
                  </div>
                  <form class="product-item__product-calc">
                    <div class="product-item__counter counter">
                      <button class="counter__btn js-counter-minus" type="button">-</button>
                      <input class="counter__input js-counter-input" type="text" value="1">
                      <button class="counter__btn js-counter-plus" type="button">+</button>
                    </div>
                    <button class="product-btn product-btn_status_default" type="submit">
                      <span class="product-btn__text">В корзину</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="product-item">
              <a class="product-item__image" href="product.html">
                <img src="../img/product-item.jpg" alt="">
                <div class="product-item__new">
                  NEW
                </div>
              </a>
              <div class="product-item__info">
                <div class="product-item__info-leftside">
                  <a class="product-item__title" href="product.html">Блюдо овальное «Desert Fusion», 40 см
                  </a>
                  <div class="product-item__vendor-code">Артикул: 81223063</div>
                  <div class="product-item__producer">Производитель: <a href="#">RAK (Арабские
                      Эмираты)</a></div>
                </div>
                <div class="product-item__info-rightside">
                  <div class="product-item__price">
                    428.80 ₽
                  </div>
                  <form class="product-item__product-calc">
                    <div class="product-item__counter counter">
                      <button class="counter__btn js-counter-minus" type="button">-</button>
                      <input class="counter__input js-counter-input" type="text" value="1">
                      <button class="counter__btn js-counter-plus" type="button">+</button>
                    </div>
                    <button class="product-btn product-btn_status_default" type="submit">
                      <span class="product-btn__text">В корзину</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <ul class="category__pagination pagination">
            <li>
              <a class="pagination__prev" href="#">
                ← &nbsp;<span class="pagination__prev-text">Предыдущая</span>
              </a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a class="current" href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">...</a>
            </li>
            <li>
              <a href="#">12</a>
            </li>
            <li>
              <a class="pagination__next" href="#">
                <span class="pagination__next-text">Следующая</span>&nbsp;→
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </main>
  <footer class="footer">
    <div class="uk-container">
      <div class="footer__top uk-child-width-1-2@s uk-child-width-1-4@m" data-uk-grid>
        <div>
          <ul class="footer-nav">
            <li><a href="#">Клиенты</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Производители</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div>
          <ul class="footer-nav">
            <li><a href="#">Барное и ресторанное стекло</a></li>
            <li><a href="#">Столовая посуда</a></li>
            <li><a href="#">Столовые приборы</a></li>
            <li><a href="#">Предметы сервировки</a></li>
            <li><a href="#">Барный инвертарь</a></li>
            <li><a href="#">Сиропы, топпинги</a></li>
            <li><a href="#">Кухонный инвертарь</a></li>
          </ul>
        </div>
        <div>
          <ul class="footer-nav">
            <li><a href="#">Ножи и аксессуары</a></li>
            <li><a href="#">Кондитерский инвертарь</a></li>
            <li><a href="#">Фарфор</a></li>
            <li><a href="#">Инвентарь для пиццы</a></li>
            <li><a href="#">Японская кухня</a></li>
          </ul>
        </div>
        <div>
          <div class="footer-contacts">
            Пн-Пт
            <div class="footer-contacts__worktime">
              09:00 - 18:00
            </div>
            отдел продаж<br>
            <a class="footer-contacts__number" href="tel:79204228167">+7 (920) 422-81-67</a>
            <ul class="footer-social">
              <li>
                <a href="#">
                  <svg class="footer-social__icon footer-social__icon_vk">
                    <use xlink:href="#vk" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="footer-social__icon footer-social__icon_instagram">
                    <use xlink:href="#instagram" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="footer-social__icon footer-social__icon_facebook">
                    <use xlink:href="#facebook" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-leftside">
          © 2018 Посуда оптом для баров и ресторанов <br>
          ООО “МастерШеф”. Воронеж, ул. Бакунина, д.1
        </div>
        <div class="footer__bottom-rightside">
          Политика конфиденциальности <br>
          developer
        </div>
      </div>
    </div>
  </footer>
  <script src="../bundle.js"></script>
</body>

</html>