@import 'variables';

// 1. Your custom variables and variable overwrites.
$global-font-family: 'Lato', sans-serif;
$base-body-font-weight: 400;
$container-max-width: 1180px;
$breadcrumb-divider-margin-horizontal: 8px;

$global-link-color: $theme-color;
$base-link-text-decoration: underline;
$global-link-hover-color: $theme-color;
$base-link-hover-text-decoration: underline;

$internal-accordion-open-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E"; 
$internal-accordion-close-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E";

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-form-focus(){
    border-color: $theme-color;
}

@mixin hook-breadcrumb(){
    a {
        text-decoration: underline;
    }
}

$accordion-item-margin-top: 0;

.uk-accordion-title::after {
    float: none;
    position: absolute;
    right: 9px;
}

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
@import 'variables';