.cart-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background-color: transparent;
    color: #4f4f4f;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: #4f4f4f;
        text-decoration: none;
    }
}

.cart-btn__icon {
    width: 33px;
    height: 27px;
    margin-right: 10px;
    fill: #000;
}

.cart-btn__text {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    & > span {
        display: block;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .cart-btn {
        margin-right: 10px;
    }
    .cart-btn__icon {
        fill: #fff;
    }
    .cart-btn__text {
        display: none;
    }
}

@media screen and (max-width: $breakpoint-small) {
    .cart-btn__text {
        display: none;
    }
}