.catalog-slide {
   height: 400px;
}

.catalog-slide__leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 120px;
}

.catalog-slide__rightside { 
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 22vw solid #fff;
        border-right: 15vw solid transparent;
        left: 0;
        top: 0;		
        z-index: 2;
    }
}

.catalog-slide__content {
    max-width: 389px;
}

.catalog-slide__title {
    margin-bottom: 5px;
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
}

.catalog-slide__subtitle {
    margin-bottom: 25px;
    color: #666;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.catalog-slide__learnmore {
    background-color: $theme-color;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: darken($theme-color, 10%);
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .catalog-slide__title {
        font-size: 24px;
    }
    .catalog-slide__subtitle {
        font-size: 16px;
    }
}

