.categories-menu {
    width: 290px;
    padding: 10px 0 15px;
    position: relative;
    top: -60px;
    box-shadow: 3px 4px 11px rgba(13,6,114,.43);
    background-color: #ebeeea;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        display: block;
        text-decoration: none;
    }
}

.categories-menu__topmenu > li > a {
    padding: 10px 24px;
    border-left: 5px solid transparent;
    transition: border-left 0.25s;
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    &:hover {
        color: $theme-color;
        text-decoration: none;
    }
}

.categories-menu__topmenu > .uk-open > a {
    border-left: 5px solid $theme-color;
    transition: border-left 0.25s;
    color: $theme-color;
}


.categories-menu__innermenu a {
    padding: 10px 50px 0 40px;
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    &:hover {
        color: $theme-color;
        text-decoration: none;
    }
}

.categories-menu__chevron {
    position: absolute;
    top: 21px;
    right: 10px;
    color: #646464;
}

.categories-menu__picked-section .categories-menu__chevron {
    transform: rotate(180deg);
    transition: transform 0.25s;
}

@media screen and (max-width: $breakpoint-large) {
    .categories-menu {
        display: none;
    }
}