.category {
  position: relative;
}

.category__page-title {
  margin-bottom: 40px;
}

.category__grid {
  display: grid;
  grid-template-columns: 290px auto;
  grid-gap: 40px;
  align-items: flex-start;
  @media (max-width: $breakpoint-large) {
    grid-template-columns: 100%;
  }
}

.category__sort-bar {
  margin-bottom: 35px;
}
