.control-bar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    position: relative;
    z-index: 5;
    background-color: #fff;
}

.control-bar__leftside {
    display: flex;
    align-items: center;
}

.control-bar__rightside {
    display: flex;
    align-items: center;
}

.control-bar__catalog-btn {
    margin-right: 23px;
}

.control-bar__search {
    position: relative;
}

.control-bar__search-btn {
    margin-right: 18px;
}