.dish-help {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: #ede8e1 url('../img/bg-dish-help.jpg') 50% 50% no-repeat;
  background-size: cover;
  text-decoration: none;
  &::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    width: 80px;
    height: 45px;
    background: url('../img/dish-help-cap.png') 50% 50% no-repeat;
    transform: translateX(-50%);
    transition: transform 0.25s;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 55px;
    left: 50%;
    width: 100px;
    height: 18px; 
    background: url('../img/dish-help-plate.png') 50% 50% no-repeat;
    transform: translateX(-50%);
    transition: transform 0.25s;
  }
  &:hover {
    &::before {
      transform: translate(-50%, -10px);
      transition: transform 0.25s;
    }
    &::after {
      transform: translate(-50%, 10px);
      transition: transform 0.25s;
    }
    .dish-help__link {
      display: block;
    }
    .dish-help__text {
      display: none;
    }
  }
}

.dish-help__text {
  margin: 10px 0;
  position: relative;
  font-size: 18px;
  color: #444551;
  line-height: 1.1;
  text-align: center;
}

.dish-help__link {
  display: none;
  //opacity: 0;
}