.filter-bar {
  margin-bottom: 45px;
}

.filter-bar__type {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  &.opened {
    .filter-bar__list {
      max-height: 100%;
      transition: max-height 0s ease-in;
    }
    .filter-bar__show-all {
      .filter-bar__show-all-icon {
        transform: rotate(180deg);
        transition: transform 0.25s;
      }
    }
  }
  @media (max-width: $breakpoint-medium) {
    display: block;
  }
}

.filter-bar__type-title {
  margin-right: 20px;
  color: #000;
  font-size: 15px;
  @media (max-width: $breakpoint-medium) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.filter-bar__list {
  display: flex;
  flex-wrap: wrap;
  max-height: 25px;
  overflow: hidden;
  transition: max-height 0s ease-in;
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
}

.filter-bar__checkbox {
  margin-right: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
  @media (max-width: $breakpoint-medium) {
    margin-right: 0;
  }
}

.filter-bar__show-all {
  background: none;
  border: none;
  white-space: nowrap;
  color: #3c3695;
  font-size: 15px;
  cursor: pointer;
}

.filter-bar__show-all-icon {
  transition: transform 0.25s;
}
