.footer-contacts {
    text-align: right;
    color: #fff;
}

.footer-contacts__worktime {
    margin-bottom: 30px;
    font-size: 14px;
}

.footer-contacts__number {
    display: block;
    margin-bottom: 20px;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (max-width: $breakpoint-large) {
    .footer-contacts__number {
        font-size: 22px;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .footer-contacts {
       text-align: left;
    }
}	