.footer-social {
    display: inline-flex;
    justify-items: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        margin-right: 16px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    a:hover {
        .footer-social__icon_vk {
            fill: #4d7198;
            transition: fill 0.25s;
        }
        .footer-social__icon_instagram {
            fill: #833ab4;
            transition: fill 0.25s;
        }
        .footer-social__icon_facebook {
            fill: #3b5998;
            transition: fill 0.25s;
        }
    }
}

.footer-social__icon {
    width: 21px;
    height: 21px;
    fill: #fff;
    transition: fill 0.25s;
}