.footer {
    padding: 70px 0 0;
    background-color: #444876;
}

.footer__top {
    margin-bottom: 79px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    color: #fff;
}

.footer__bottom-rightside {
    text-align: right;
}


@media screen and (max-width: $breakpoint-small) {
    .footer__bottom {
       flex-direction: column;
    }
    .footer__bottom-leftside {
        margin-bottom: 20px;
    }
    .footer__bottom-rightside {
        text-align: left;
    }
    
}	