.footer {
    padding: 70px 0 0;
    background-color: #444876;
}

.footer__top {
    margin-bottom: 80px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer__bottom-rightside {
    text-align: right;
}

.footer__policy {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 12px;
}

.footer__policy:hover {
    color: #fff;
}

.footer__copyright {
    margin-bottom: 10px;
    color: #fff;
    font-size: 12px;
}

.footer__address {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 12px;
}

.footer__devs {
    display: block;
}

@media screen and (max-width: $breakpoint-small) {
    .footer {
        padding: 30px 0 0;
    }
    .footer__top {
        margin-bottom: 20px;
    }
    .footer__top > :nth-child(2),
    .footer__top > :nth-child(3) {
        display: none;
    }
    .footer__bottom {
       flex-direction: column;
       align-items: flex-start;
    }
    .footer__bottom-leftside {
        margin-bottom: 20px;
    }
    .footer__bottom-rightside {
        text-align: left;
    }

}
