.header {
    background-color: $theme-color;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__leftside {
    padding: 14px 0;
}

.header__rightside {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 14px 0;
}

.header__header-tel {
    margin-left: 25px;
}

@media screen and (max-width: $breakpoint-medium) {
    .header__rightside {
        justify-content: right;
    }
}	

