.info-row {
  display: flex;
  align-items: baseline;
  padding: 25px 0 35px;
  border-top: 2px solid #ebeeea;
  &:last-of-type {
    border-bottom: 2px solid #ebeeea;
  }
}

.info-row__pic {
  min-width: 45px;
  margin-right: 20px;
  transform: translateY(33%);
}

.info-row__title {
  min-width: 190px;
  margin-right: 34px;
  color: #494949;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.info-row__desc {
  min-width: 300px;
  color: #494949;
  font-size: 15px;
}

@media (max-width: $breakpoint-small) {
  .info-row {
    flex-direction: column;
  }
  .info-row__pic {
    transform: none;
    margin-bottom: 10px;
  }
  .info-row__title {
    margin-bottom: 10px;
  }
}