.nav {
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin-right: 25px;
    }
    a {
        color: #fff;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        text-decoration: none;
        &::after {
            content: '';
            width: 0%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: width 0.25s;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            &::after {
                width: 100%;
                transition: width 0.25s;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .nav {
        display: none;
        &_isOpened {
            display: flex;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 70px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            background-color: $theme-color;
            animation: scale-up 0.5s ease-out both;
            ul {
                width: 100%;
                padding: 50px 0;
                overflow-y: scroll;
                flex-direction: column;
                animation: appereance 0.25s 0.5s ease-in both;
            }
            li {
                margin-right: 0;
                margin-bottom: 20px;
            }
            a {
                font-size: 24px;
            }
        }
    }
}
