.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    box-sizing: border-box;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    position: absolute;
    bottom: -60px;
    right: -360px;
    z-index: 5;
    opacity: 0;
    &_slide-in {
        animation: slide-in 0.25s ease-out both;
    }
    &_slide-out {
        animation: slide-out 0.25s ease-in both;
    }
}

.search-bar__close-btn {
    margin-left: 10px;
}

@media screen and (max-width: $breakpoint-small) {
    .search-bar {
        right: -380px;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(-360px);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(-360px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

